.flex-container {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;  
 overflow-x: auto; 
}

.flex-container div {
    padding:10px;
}

.dash-img {
    height: auto;
    width: auto;
}





.star {
  font-size: 10vh;
  cursor: pointer;
}

.star.active {
  color: rgb(232, 187, 24);
}
