{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      MapTheMoment : Find proposal hotspots and wedding venues </p>
    <p class="box">
    </p>
  </div>
</section>
