{{> menu}}
<link rel="stylesheet"href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<section class="section">
  <div id='map' style="height: 400px;"></div>
  <button id="userproposals"type="button">View your proposal venues on the map</button>
   <button id="userweddings"type="button">View your wedding venues on the map</button>
   <button id="clearvenues"type="button">Clear venues</button>
   <div class="title">
    {{area.title}}
  </div>
  {{> list-venues}}
  {{> add-venue}}
</section>
