{{> menu active="dashboard"}}
<link rel="stylesheet"href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<link rel="stylesheet"href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<section class="section">
  <div id='map' style="height: 400px;"></div>
  {{> public-map}}
  {{> list-areas}}
  {{> add-area}}
</section>
