{{> welcome-menu}}

<section class="section">
  <h2> Sign up or Log in and find the best wedding venues and proposal hotspots! </h2>
</section>
<div class="column">
    <img src="/images/couple.jpg">
</div>
