<form class="box" action="/area/{{area._id}}/addvenue" method="POST">
  <label>Enter Venue Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Title" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Venue Type" name="venuetype">
      </div>
        <div class="field">
        <input class="input" type="text" placeholder="Enter description" name="description">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Venue</button>
</form>
