<form action="/dashboard/addarea" method="POST">
  <div class="field">
    <label class="label">Area Title</label> <input class="input" type="text" placeholder="Enter Area title" name="title">
  </div>
  <button class="button is-info">Add Area</button>
</form>
