 
  <div class="box box-link-hover-shadow">
   <div hidden="hidden" id="venues">{{{publicVenueStrings}}}</div>
   <script>  
    const raw = document.getElementById("venues").textContent;
    const venuesArray = JSON.parse(raw)

    venuesArray.forEach(venue => {
        console.log(venue.title)
    })
    
     const map = L.map("map").setView([53.33306, -6.24889], 13);
     L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution: "© OpenStreetMap contributors"
     }).addTo(map);
    
    const icon = L.icon({
    iconUrl: "/images/mappin.png",
    iconSize: [48, 48],
    iconAnchor: [16, 32],
    popupAnchor: [0, -32],
    });
   // make array for all the venue markers
   const markers = [];

   // make a marker for each venue
   venuesArray.forEach(venue => {
    L.popup()
    .setLatLng([venue.latitude, venue.longitude])
    .setContent(venue.title + '<br>' + venue.venuetype + '<br> + Description: ' + venue.description + '<br> + Latitude: ' + venue.latitude.toFixed(6) + '<br> Longitude: ' + venue.longitude.toFixed(6) + '<br> visability: ' + venue.visability)
    .openOn(map);


     marker = L.marker([venue.latitude, venue.longitude], { icon: icon }).addTo(map);
     markers.push(marker)
     });

   {{!-- if (!markers.length == 0) {
  const group = L.featureGroup(markers);
    map.fitBounds(group.getBounds());
   } --}}
   </script>

  
 


</div>
